/**************************************
 * default: #3a3a3a;
 * primary: #6699ff;
 * muted  : #dadada;
 *
 * layout : #eaeaea;
 *
 *
 **************************************/

/**************************************
 * DEFAULT
 **************************************/
* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

body {
    margin: 0px;
    padding: 0px;
    padding-bottom: 100px;
    color: #3a3a3a;
    font-size: 1em;
}

/**************************************
 * MEDIA
 **************************************/
.media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px 0;
}

.media:not(:last-child) {
    margin-bottom: 10px;
}

.media > div {
    display: flex;
    flex: 1;
}

.media > .media-tight {
    flex: none;
    word-break: keep-all;
    white-space: nowrap
}

.media > .media-middle {
    align-items: center;
}

/**************************************
 * TEXT
 **************************************/
body,
button,
select {
    font-family: Roboto,Verdana,Arial,Sans-Serif;
}

.text-bold {font-weight: bold}
.text-center {text-align: center}

a,
.text-link {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #6699ff;
}

a:hover,
.text-link:hover,
.text-link.active {
    text-decoration: underline;
}

.text-muted {color: #dadada}
.text-danger {color: #ff0000}
.text-default {color: #3a3a3a}
.text-primary {color: #6699ff}

.text-sm {font-size: 0.8em;}

/**************************************
 * SPACER
 **************************************/
ul.spacer {
    margin: 0px;
    padding: 0px;
}

ul.spacer > li {
    display: inline-block;
    vertical-align: middle;
}

ul.spacer > li > * {
    display: inline-block;
}

ul.spacer > li:not(:last-child)::after {
    content: '';
    margin: 0 5px;
    color: #eaeaea;
    cursor: default !important;
    pointer-events: none;
}

ul.spacer-pipe > li:not(:last-child)::after {
    content: '|';
}

/**************************************
 * DISPLAY
 **************************************/
.px-1 {padding-left: 0.5em; padding-right: 0.5em;}
.px-2 {padding-left: 0.8em; padding-right: 0.8em;}
.px-3 {padding-left: 1.3em; padding-right: 1.3em;}
.px-4 {padding-left: 2em; padding-right: 2em;}

.py-1 {padding-top: 0.5em; padding-bottom: 0.5em;}
.py-2 {padding-top: 0.8em; padding-bottom: 0.8em;}
.py-3 {padding-top: 1.3em; padding-bottom: 1.3em;}
.py-4 {padding-top: 2em; padding-bottom: 2em;}

.mx-1 {margin-left: 0.5em; margin-right: 0.5em;}
.mx-2 {margin-left: 0.8em; margin-right: 0.8em;}
.mx-3 {margin-left: 1.3em; margin-right: 1.3em;}
.mx-4 {margin-left: 2em; margin-right: 2em;}

/**************************************
 * SPINNER
 **************************************/
.spinner::before {
    content: '+';
    margin: 0 5px;
    display: inline-block;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {transform:rotate(0deg)}
    to {transform:rotate(360deg)}
}

/**************************************
 * HEADER
 **************************************/
.header {
    height: 30px;
    line-height:30px
}

.header > img,
.header > a > img {
    height: 30px
}

/**************************************
 * CONTAINER
 **************************************/
.container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 600px
}

.container-lg {
    max-width: 800px
}

.container-xl {
    max-width: 1000px
}

/**************************************
 * HR
 **************************************/
hr {
    margin: 15px 0;
    border-top: none;
    border-bottom-color: #eaeaea
}

/**************************************
 * HEADING
 **************************************/
h1 {
    margin: 15px 0
}

/**************************************
 * BUTTON
 **************************************/
button {
    font-size: 0.8em;
    padding: 4px 8px
}

/**************************************
 * SELECT
 **************************************/
select {
    font-size: 0.8em;
    padding: 4px 8px
}